* {
    margin: 0px;
    text-decoration: none;
}

.page {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
}

#root {
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;  
}

.navi {
    background-color: #3f51b5;
    height: 6vh;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}


.input {
    margin: 5px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

.main {
    display: flex;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 0;
    width: 80%;
    height: 80vh;
    background-color:#fff;
    text-align: center;
    padding: 0;
}

.but {
    margin-top: 1%;
}

.reg {
    width: 50%;
    float: left;
    margin: 0;
    color: #2196f3;
}

.log {
    width: 50%;
    float: left;
    margin: 0;
    color: #2196f3;
}

.but {
    margin-top: 10px;
}

.form1 {
    width: 50%;
    float: left;
    margin: 0;
    color: #2196f3;
}

.form2 {
    width: 50%;
    float: left;
    margin: 0;
    color: #2196f3;
}

.footer {
  text-align: center;
  width: 100%;
  height: 4vh;
}






@media (min-width: 300px) {
    .navi {
        height: 8vh;
        font-size: 20px;
        line-height: 40px;
    }

    .main {
        display: block;
        text-align: center;
    }
    
    
    .reg {
        width: 100%;
        float: left;
    }
    
    .log {
        width: 100%;
        float: left;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    
}

@media (min-width: 350px), (max-height: 600px) {
    .navi {
        height: 6vh;
        font-size: 20px;
        line-height: 35px;
    }
    .main {
        display: block;
        margin: 0;
        width: 100%;
        height: 90vh;
        background-color:#fff;
        text-align: center;
        padding: 0;
    }
    
    .reg {
        width: 100%;
        margin-top: 1vh;
    }
    
    .log {
        margin-top: 1vh;
    }

}

@media (min-width: 375px), (max-height: 800px) {
    .navi {
        height: 6vh;
        font-size: 20px;
        line-height: 50px;
    }
}


@media (min-width: 400px) {
    .navi {
        font-size: 25px;
        line-height: 50px;
    }
    
    .reg {
        width: 100%;
        margin-top: 2vh;
    }
    
    .log {
        width: 100%;
        margin-top: 2vh;
    }
    
}

@media (min-width: 600px) {
    .navi {
        line-height: 60px;
    }
}


@media (min-width: 700px) {
    .navi {
        height: 6vh;
        font-size: 20px;
        line-height: 30px;
    }

    .main {
        display: flex;
    }

    .reg {
        margin-top: 3vh;
    }

    .log {
        margin-top: 3vh;
        margin-bottom: 0;
    }

}

@media (min-width: 768px), (min-height: 1024px) {
    .navi {
        height: 8vh;
        font-size: 30px;
        line-height: 80px;
    }
}


@media (min-width: 1080px) {
    .navi {
        height: 4vh;
        line-height: 40px;
    }

    .main {
        display: flex;
    }

    .reg {
        margin-top: 5vh;
    }

    .log {
        margin-top: 5vh;
    }
}

@media (min-width: 1920px), (min-height: 1080px) {
    .navi {
        height: 6vh;
        font-size: 25px;
        line-height: 55px;
    }
    
    .reg {
        margin-top: 8vh;

    }
    
    .log {
        margin-top: 8vh;
    }
}