* {
    margin: 0px;
    text-decoration: none;
}


#root {
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;  
}

.navi {
    background-color: #3f51b5;
    height: 8vh;
}


.input {
    margin: 5px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

.main {
    display: flex;
    margin: 10%;
    width: 80%;
    height: 80vh;
    background-color:#fff;
    text-align: center;
    padding: 0;
}

ul {
    list-style-type: none;
    float: left;
    text-align: center;
    margin-left: 25%;
    margin-top: 3%;
    font-family: 'Oxygen', sans-serif;
  }

.but {
    margin-top: 1%;
}

.reg {
    width: 50%;
    float: left;
    margin: 0;
    color: #2196f3;
}

.log {
    width: 50%;
    float: left;
    margin: 0;
    color: #2196f3;
}

.but {
    margin-top: 10px;
}