* {
    margin: 0px;
}


#root {
    width: 100%;
    height: 100vh;
    font-family: 'Merriweather Sans', sans-serif;  
}

.navi {
    background-color: #20232A;
    padding-bottom: 3px;
    padding-top: 5px;
    height: 6vh;
}

.text {
    float: left;
    text-align: center;
    width: 100%;
    height: auto;
}

.section {
    width: 100%;
    height: auto;
    text-align: center;
}

.info {
    width: 100%;
    height: 18vh;
    float: left;
    margin-top: 5vh;
    text-align: center;
}

h1 {
    color: #61DAFB;
    font-size: 40px;
}

h2 {
    color: #61DAFB;
    font-size: 20px;
}

h3 {
    color: #61DAFB;
    font-size: 20px;
}

h4 {
    color: #20232A;
    font-size: 15px;
}

.main {
    width: 100%;
    height: 89vh;
    background-color:#F0FFFF;
    text-align: center;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    float: left;
    text-align: center;
    margin-left: 25%;
    margin-top: 3%;
    font-family: 'Oxygen', sans-serif;
  }

.footer {
    text-align: center;
    height: 20px;
    background-color: #20232A;
    width: 100%;
    color: #61DAFB;
    height: 3vh;
    padding-top: 5px;
}

.but {
    margin-top: 1%;
}

button {
    margin-top: 5%;
}
